cdrtools*
dvdau*
help2*
CB_project*
ImageMagick*
a52dec*
autom4te.cache
build-*
config*
help2man* 
local*
lplex*
menu*
mjpegtools*
mpeg2dec*
libogg*
ogg*
sox*
flac*
*.o
*Makefile
*Makefile.in
*.Po
*.la
libmpeg2*
*.libs
*.deps
*script
*.directory
stamp*
