/README.sf.txt
/diff1.patch
/diff2.patch
/key.fingerprint
/key.ppk.pub
/sshaccess
/src/dvda-author
/src/dvda
/key/dvda-author-dev.pro.user
/libfixwav/src/libfixwav.a
/libiberty/src/libiberty.a
/libutils/src/libc_utils.a
/dvda-author-dev.pro.user
/PATCHED.DOWNLOADS
/DOWNLOADS
*aclocal.m4
cdrtools*
dvdau*
dvda-author*
help2*
CB_project*
ImageMagick*
a52dec*
autom4te.cache
build-*
configure
help2man* 
man2html*
local*
lplex*
menu*
mjpegtools*
mpeg2dec*
libogg*
ogg*
sox*
flac*
*.o
*Makefile
*.Po
*.la
libmpeg2*
*.libs
*.deps
script
script1
script2
script3
script4
script5
script6
*.directory
stamp*
*ppk
*.old
*.zip
*.gz
*.bz2
*.xz
lplex*
