/key.fingerprint
/key.ppk.pub
/sshaccess
/src/dvda-author
/src/dvda
/libfixwav/src/libfixwav.a
/libiberty/src/libiberty.a
/libutils/src/libc_utils.a
/dvda-author-dev.pro.user
/PATCHED.DOWNLOADS
/DOWNLOADS
**aclocal.m4
**autom4te.cache
build-*
configure
local/**
**.o
**Makefile
**.Po
**.la
**.libs
**.deps
**.directory
stamp*
**ppk
**.old
**.zip
**.gz
**.bz2
**.xz

