body {
	font-size: small;
	color: #333333;
	line-height: 120%;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif"
}

.text1 {
	line-height: 130%;
}

.text_s {
	font-size: x-small;
}

.text_b {
	color: #2C2C7E;
	line-height: 140%;
	font-weight: bold;
}

.text_sb {
	font-size: x-small;
	font-weight: bold;
}

.notes {
	font-size: small;
	line-height: 120%;
	color: #FF0000;
}

.rb {
	color: #FF0000;
}

.t1 {
	font-weight: bold;
	line-height: 125%;
}

.title {
	font-size: large;
	color: #333390;
	line-height: 20px;
}

.midashi1 {
	color: #333390;
	font-weight: bold;
	line-height: 140%;
}

sup {
	position:relative;
	font-size: small;
	top: -3px;
}

.text_gr {
	color: #2C2C7E;
}




a:active { color: #3333CC; text-decoration: underline}
a:visited { color: #6D466A; text-decoration: underline}
a:link { color: #3333CC; text-decoration: underline}

.midashi2 {
	color: #333333;
	font-weight: bold;
	line-height: 140%;
}

.sred {
	font-size: x-small;
	color: #FF0000;
}

input {
	font-family: "Arial";
}
textarea {
	font-family: "Arial";
}

#other a,#logo a,#veri a,#license a,#hd a,#format a{color:#666666;text-decoration:none;}
#other a:visited,#logo a:visited,#veri a:visited,#license a:visited,#hd a:visited,#format a:visited{color:#666666;}
#other a:hover,#logo a:hover,#veri a:hover,#license a:hover,#hd a:hover,#format a:hover{color:#3333FF;}


.top_news {
	margin: 6px 1px 50px 1px;
	border : #e8e8e8 1px solid;
	padding: 2px;
	overflow: auto;
	height: 355px;
}

.text_sb_blue { font-size: x-small; font-weight: bold; ; color: #2c2c7e}
.ssred { font-size: xx-small; color: #FF0000; }
.sred7 { font-size: 7px; color: #FF0000; }
.sbk7 { font-size: 7px; }
